.Topselling{
    margin-top: 10px;
    background-color: whitesmoke;
    width: 80%;
    height: 24rem;
    margin-left: 10rem;
    border-radius: 8px;

}

.Topselling1{
    margin-top: 10px;
    background-color: whitesmoke;
    width: 80%;
    height: 26rem;
    margin-left: 10rem;
    border-radius: 8px;

}

.itemstext {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}



.topimages {
    display: flex;
}

.toptext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 14px;
    margin-top: 12px;
}

.lenovo {
    width: 16%;
    height: 15rem;
    margin: auto;

}

.lenovo img{
    height: 100%;
    width: 100%;
}

.lenovo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.lenovo img:hover {
    transform: scale(1.1);
}

del {
    font-size: 12px;
}

.flashdiv {
    width: 80%;
    height: 3rem;
    margin-left: 10rem;
    margin-top: 10px;
    background-color: red;
    display: flex;
}

.flashtext {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 8px;
}

.timetext {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 330px;
    font-weight: bold;
}

.seetext {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 390px;
    text-decoration: none;
    
}

.stockdiv {
    width: 80%;
    height: 3rem;
    margin-left: 10rem;
    margin-top: 10px;
    background-color: powderblue;
    display: flex;
}

.stocktext {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 8px;
}

.freediv {
    margin-top: 10px;
    background-color: whitesmoke;
    width: 80%;
    height: 16rem;
    margin-left: 10rem;
    border-radius: 8px;
}

.freeimages {
    display: flex;
}

.free {
    width: 33%;
    height: 15rem;
    margin: auto;
    padding: 10px;
}

.free img {
    width: 100%;
    height: 100%;
}

.free img:hover {
    transform: scale(1.1);
}

.header {
    width: 90%;
    background-color: #aadef1;
    display: flex;
    margin-left: 40px;
    padding-top: 10px;
    justify-content: space-between;
}
.top {
    display: flex;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
.top h5 {
    Font-size: 20px;
    Font-weight: 500;
    Line-height: normal;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
}
.top p {
    Font-size: 20px;
    Font-weight: 400;
    Line-height: normal;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid black;
}
.see p {
    padding-right: 20px;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: normal;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
}
.line1 {
    width: 90%;
    margin-left: 40px;
    display: flex;
    background-color: #ffffff; 
    padding-top: 20px;
    justify-content: space-around;
    padding-bottom: 50px;
}
.pix1 {
    width: 15%;
    cursor: pointer;
}
.pix1 img {
    width: 100%;
}
.wr1 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.wr2 {
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 12px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.pix2 {
    width: 15%;
    cursor: pointer;
}
.pix2 img {
    width: 100%;
}
.wr4 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.wr5 {
    Font-size: 12px;
    Font-weight: 400;
    Line-height: 14px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;}
.pix3 {
        width: 15%;
        cursor: pointer;

    }
.pix3 img {
        width: 100%;
    }
.wr7 {
        background-color: #feefde;
        Font-size: 14px;
        Font-weight: 500;
        Line-height: 14px;
        color: rgb(246, 139, 30);
        margin-left: 120px;
    }
.wr8 {
        Font-size: 12px;
        Font-weight: 400;
        Line-height: 14px;
        color: rgb(40, 40, 40);
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
        padding-top: 5px;}
.pix4 {
     width: 15%;
     cursor: pointer;
}
.pix4 img {
     width: 100%;
}
.wr10 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.wr11 {
    Font-size: 12px;
    Font-weight: 400;
    Line-height: 14px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;}
.pix5 {
    width: 15%;
    cursor: pointer;
}
.pix5 img {
    width: 100%;
}
.wr13 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.wr14 {
    Font-size: 12px;
    Font-weight: 400;
    Line-height: 14px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;}
.pix6 {
        width: 15%;
        cursor: pointer;
   }
.pix6 img {
        width: 100%;
}
.wr16 {
       background-color: #feefde;
       Font-size: 14px;
       Font-weight: 500;
       Line-height: 14px;
       color: rgb(246, 139, 30);
       margin-left: 120px;
}
.wr17 {
       Font-size: 12px;
       Font-weight: 400;
       Line-height: 14px;
       color: rgb(40, 40, 40);
       font-family: Arial, Helvetica, sans-serif;
       padding-bottom: 10px;
       padding-top: 5px;}
.line2 {
    background-color: #e2f5ff;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-top: 5px;
}
.line2 p {
    Font-size: 20px;
    Font-weight: 500; 
    Line-height: normal;
    color: rgb(40, 40, 40);
    text-align: center;
}
.line3 {
    width: 90%;
    margin-bottom: 10px;
}
.line3 img {
    width: 100%;
    margin-left: 40px;
}
.line4 {
    width: 90%;
    background-color: #aadef1;
    display: flex;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.defacto {
    Font-size: 20px;
    Font-weight: 500;
    Line-height: normal;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}
.all {
    padding-right: 20px;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: normal;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif; 
}


.line5 {
    width: 90%;
    margin-left: 40px;
    display: flex;
    background-color: #ffffff; 
    padding-top: 20px;
    justify-content: space-around;
    padding-bottom: 50px;
}
.pix7 {
    width: 15%;
    cursor: pointer;
}
.pix7 img {
    width: 100%;
}
.zn1 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.zn2 {
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 12px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.pix8 {
    width: 15%;
    cursor: pointer;
}
.pix8 img {
    width: 100%;
}
.zn4 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.zn5 {
    Font-size: 12px;
    Font-weight: 400;
    Line-height: 14px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;}
.pix9 {
        width: 15%;
        cursor: pointer;

    }
.pix9 img {
        width: 100%;
    }
.zn7 {
        background-color: #feefde;
        Font-size: 14px;
        Font-weight: 500;
        Line-height: 14px;
        color: rgb(246, 139, 30);
        margin-left: 120px;
    }
.zn8 {
        Font-size: 12px;
        Font-weight: 400;
        Line-height: 14px;
        color: rgb(40, 40, 40);
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
        padding-top: 5px;}
.pix10 {
     width: 15%;
     cursor: pointer;
}
.pix10 img {
     width: 100%;
}
.zn10 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.zn11 {
    Font-size: 12px;
    Font-weight: 400;
    Line-height: 14px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;}
.pix11 {
    width: 15%;
    cursor: pointer;
}
.pix11 img {
    width: 100%;
}
.zn13 {
    background-color: #feefde;
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 14px;
    color: rgb(246, 139, 30);
    margin-left: 120px;
}
.zn14 {
    Font-size: 12px;
    Font-weight: 400;
    Line-height: 14px;
    color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;}
.pix12 {
        width: 15%;
        cursor: pointer;
   }
.pix12 img {
        width: 100%;
}
.zn16 {
       background-color: #feefde;
       Font-size: 14px;
       Font-weight: 500;
       Line-height: 14px;
       color: rgb(246, 139, 30);
       margin-left: 120px;
}
.zn17 {
       Font-size: 12px;
       Font-weight: 400;
       Line-height: 14px;
       color: rgb(40, 40, 40);
       font-family: Arial, Helvetica, sans-serif;
       padding-bottom: 10px;
       padding-top: 5px;}