*{
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}


.Topselling{
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 24rem;
    margin-left: 10rem;
    border-radius: 8px;

}

.Topselling1{
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 26rem;
    margin-left: 10rem;
    border-radius: 8px;

}

.itemstext {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}


.topimages {
    display: flex;
}

.toptext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 14px;
    margin-top: 12px;
}

.lenovo {
    width: 16%;
    height: 15rem;
    margin: auto;

}

.lenovo img{
    height: 100%;
    width: 100%;
}

.lenovo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.lenovo img:hover {
    transform: scale(1.1);
}

del {
    font-size: 12px;
}

.flashdiv {
    width: 80%;
    height: 3rem;
    margin-left: 10rem;
    margin-top: 10px;
    background-color: red;
    display: flex;
}

.flashtext {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 8px;
}

.timetext {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 330px;
    font-weight: bold;
}

.seetext {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 390px;
    text-decoration: none;
    
}

.stockdiv {
    width: 80%;
    height: 3rem;
    margin-left: 10rem;
    margin-top: 10px;
    background-color: powderblue;
    display: flex;
}

.stocktext {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 8px;
}

.freediv {
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 16rem;
    margin-left: 10rem;
    border-radius: 8px;
}

.freeimages {
    display: flex;
}

.free {
    width: 33%;
    height: 15rem;
    margin: auto;
    padding: 10px;
}

.free img {
    width: 100%;
    height: 100%;
}

.free img:hover {
    transform: scale(1.1);
}

.topdealsdiv{
    width: 80%;
    height: 3rem;
    margin-left: 10rem;
    margin-top: 10px;
    background-color: #fee2cc;
    display: flex;
}

.topdealsdiv p {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.footer-container{
    height:600px;
    width: 100%;
    background-color: rgb(62, 59, 59);
}
.footer-1{
    height: 140px;
    background-color: #282828;
    width: 100%;
}
.footer-1 img{
    height: 30px;
    margin-top: 30px;
}

.jumia{
    width: 80%;
    margin: auto;
    display: flex;
}
.new h5{
    color: white;
    margin-top: 20px;
    margin-left: 205px;
    font-family: sans-serif;
    font-size:17px;
}
.new p{
    color: rgb(172, 167, 167);
    margin-left: 203px;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 5px;
}
.new input{
    height:45px;
    width: 210px;
    border-radius: 2px;
    border: none;
    margin-left: 200px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 15px;
}
.new button{
    height: 45px;
    background-color: #282828;
    color: white;
    border: 1px solid grey;
    width: 75px;
    border-radius: 3px;
}
#female{
    width: 100px;
}
.app{
    margin-top: 25px;
    margin-left: 150px;
}
.app h5{
    color: white;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 5px;
}
.app p{
    color: rgb(102, 98, 98);
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 5px;
}
.app img{
    height: 30px;
    margin-top: 10px;
    margin-right: 0px;
}
.google{
    margin-right: 60px;
}
.footer-2{
    height: 500px;
    background-color: #3e3e3e;
}
.footer{
    width:75%;
    margin:0 auto;
    height: 460px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-heading h2{
    font-size: 17px;
    margin-bottom: 1rem;
    color: #fdfdfd;
    margin-top: 20px;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.footer-heading a{
    text-decoration: none;
    color: #c0bdbd;
    margin-bottom: 0.5rem;
}
.foot-4 a{
    display: flex;
    flex-direction: column;
}
#countries{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
